@inherits LayoutComponentBase

<div class="columns is-gapless is-fullheight">
    <div class="column is-narrow">
        <NavMenu />
    </div>

    <main class="column">
        @Body
    </main>
</div>
