<div class="field is-horizontal">
    <div class="field-label is-normal">
        <label class="label has-text-light">@Label</label>
    </div>
    <div class="field-body">
        <div class="field">
            <div class="control">
                <input class="input has-background-grey-darker has-text-light"
                       type="text"
                       value="@Value"
                       readonly="@IsReadOnly"
                       @onchange="e => ValueChanged.InvokeAsync(e.Value?.ToString())"/>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter] public string Label { get; set; } = string.Empty;
    [Parameter] public string Value { get; set; } = string.Empty;
    [Parameter] public EventCallback<string> ValueChanged { get; set; }
    [Parameter] public bool IsReadOnly { get; set; } = false;
}