<!-- File selection -->
<div class="field">
    <label class="label">CSV file</label>
    <div class="field has-addons">
        <div class="control is-expanded">
            <input class="input" type="text" readonly
                   value="@FilePath"
                   placeholder="Select a file…"/>
        </div>
        <div class="control">
            <button class="button" @onclick="BrowseClick">
                <span class="icon">
                    <i class="fas fa-folder-open"></i>
                </span>
            </button>
        </div>
    </div>
</div>

<!-- Header template -->
<div class="field">
    <label class="label">Header template</label>
    <div class="control">
        <textarea class="textarea"
                  rows="2"
                  placeholder="e.g. Date,High,Low,Open,Close,Volume"
                  @bind="HeaderTemplate"/>
    </div>
</div>



@code {

    public string FilePath { get; set; } = "";
    public string HeaderTemplate { get; set; } = "Date,High,Low,Open,Close,Volume";
    public string Delimiter { get; set; } = ",";

    private void BrowseClick()
    {
    }

}