
<table class="table is-fullwidth">
    <thead><tr><th>Col 1</th><th>Col 2</th></tr></thead>
    <tbody>
        <tr><td>A</td><td>B</td></tr>
        <tr><td>C</td><td>D</td></tr>
    </tbody>
</table>


@code {

}
